<a href="https://colab.research.google.com/github/123santoshi/123santoshi/blob/main/sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas      #pandas installation
!pip install numpy        #numpy installation
!pip install scikit-learn #sklearn installation

# LOAD DATASET

In [2]:
import pandas as pd
import numpy as np
data={
    "age":[20,30,40,56,68,19,39,49,69,57,10,23,25,67,89,12,34,57,78,98,20,30,40,56,68,19,39,49,69,57,10,23,25,67,89,12,34,57,78,98,20,30,40,56,68,19,39,49,69,57,10,23,25,67,89,12,34,57,78,98,20,30,40,56,68,19,39,49,69,57,10,23,25,67,89,12,34,57,78,98],
    "salary":[10000,20000,3000000,56000,450000,320000,25000,68000,58000,35000,158000,25000,3500000,56000,40000,30000,45000,86000,65000,45000,10000,20000,3000000,56000,450000,320000,25000,68000,58000,35000,158000,25000,3500000,56000,40000,30000,45000,86000,65000,45000,10000,20000,3000000,56000,450000,320000,25000,68000,58000,35000,158000,25000,3500000,56000,40000,30000,45000,86000,65000,45000,10000,20000,3000000,56000,450000,320000,25000,68000,58000,35000,158000,25000,3500000,56000,40000,30000,45000,86000,65000,45000],
    "buy":[0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0,0,1,1,0,0,1,0,1,0,0]
}
df=pd.DataFrame(data)
df

    age   salary  buy
0    20    10000    0
1    30    20000    1
2    40  3000000    1
3    56    56000    0
4    68   450000    0
..  ...      ...  ...
75   12    30000    1
76   34    45000    0
77   57    86000    1
78   78    65000    0
79   98    45000    0

[80 rows x 3 columns]

In [4]:
print(df.shape)  #no of rowa and no of columns

(80, 3)

In [5]:
x=df.iloc[:,:-1]       #x takes input variables based on age,salary we predict whether the person buys or not so age,salary are input values
print(x)

    age   salary
0    20    10000
1    30    20000
2    40  3000000
3    56    56000
4    68   450000
..  ...      ...
75   12    30000
76   34    45000
77   57    86000
78   78    65000
79   98    45000

[80 rows x 2 columns]

In [6]:
y=df.iloc[:,-1]            #Y takes output value
print(y)

0     0
1     1
2     1
3     0
4     0
     ..
75    1
76    0
77    1
78    0
79    0
Name: buy, Length: 80, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split         
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)      #training data=75% test data=25%

In [10]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler() 
x_train=sc.fit_transform(x_train)         #we have to transofrm our data into standarad format
x_test=sc.transform(x_test)

In [11]:
from sklearn.linear_model import LogisticRegression  #we are using classification so import Logistic Regression
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [12]:
age=int(input("enter age"))
salary=int(input("enter salary"))
newcustomer=[[age,salary]]
result=reg.predict(sc.transform(newcustomer))
print(result)
if(result==0):
  print("person cannot buy the product")
else:
  print("person can buy the product")

enter age24
enter salary34000
[1]
person can buy the product

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"